<% include ./partials/header %>

<form action="/login" method="post">
  <input type="text" name="username" placeholder="username" required>
  <input type="password" name="password" placeholder="password" required>
  <button>Sign up</button>
</form>
<% include ./partials/footer %>
